<form action="https://omnicalc-1.matchthetarget.com/square/results">
  <label for="input_number">Enter a number</label>
  <input id="input_number" type="text" name="number">
  <button>Calculate square</button>
</form>
